@import url('https://fonts.googleapis.com/css?family=Merriweather');



body{
	font-family: sans-serif;
	text-align: center;
	background:black;
	color:white;
}

.block{
	padding:15px;
	border:1px solid white;
	margin:0 auto;
	margin-bottom:5%;
	text-align:left;
	width:75%;
}

.jumbotron{
	background:rgba(0,0,0,.9);
}


h2{
	font-weight: bold;
	font-size:2em;
	margin-bottom:5%;
}
h3{
	font-family:Merriweather;
}

span{
	font-size:12px;
}

	#light{
		color:white;

	}

	#dark{
		color:white;
		margin-bottom:10px;
	}



/*MOBILE VIEWS*/
@media (max-width:800px) {
	p{
		display:none;
	}

	h3{
		font-size:1em;
		margin-bottom:none;
	}

	span{
		display:none;
	}

	.jumbotron{
		background:transparent;
		text-align:center;
	}

	.block{
		border-bottom:1px solid lightgrey;
	}

}

